body {background-color:rgb(160, 91, 103); 
    margin: 6vw;  
    flex-direction: column; 
    align-items: center;
    justify-content: center;  
    position: relative; 
    transform: scale(1);
    padding: 0;
    }
    
h1 {text-align: center;
    font-size: 5vw;
    margin-bottom: 2vw;
    color: black;}

p {text-align: justify; 
    margin:auto; 
    color: rgb(250, 250, 249);
    font-family: monospace; 
    font-size: 1.60vw;
    padding-bottom: 2vw;}

.container {
    padding: 3vw; 
    display:flex; 
    justify-content: center; 
    flex-wrap: wrap;  
    align-items: center;
}

.image { 
    display: block;
    margin: 0;
    width: 45%;
    align-items: left;
    padding-bottom: 1vw;
    max-width: 100%;
}

.text {
    flex: 1 1 50%;
    width: 45%;
    text-align: right;
}

@media (max-width: 768px) {
.text {
width: 100vw;
max-width: 100vw;
text-align: center;
align-items: center;
}

.image {
    width: 100vw;
max-width: 100vw;
text-align: center;
align-items: center;
}
}

.divider {height: 0.2vw;
    background-color: black;   
}

.buttons {padding: 2vw;
    border: 0;
    align-items: center;
}

.button1 {height: 2vw;
    background-color: wheat;
    width: 18vw;
    height: 18vw;
    display: inline-block;
    align-items: center;
    margin: 1vw;
    font-size: 1vw;
}

.button2 {height: 2vw;
    background-color: wheat;
    width: 18vw;
    height: 18vw;
    display: inline-block;
    align-items: center;
    margin: 1vw;
    font-size: 1vw;
}

.button3 {height: 2vw;
    background-color: wheat;
    width: 18vw;
    height: 18vw;
    display: inline-block;
    align-items: center;
    margin: 1vw;
    font-size: 1vw;
}

.button4 {height: 2vw;
    background-color: wheat;
    width: 18vw;
    height: 18vw;
    display: inline-block;
    align-items: center;
    margin: 1vw;
    font-size: 1vw;
}