* {
    boder: 1px solid black;

}

html {
    background-color: linen;
    margin: 6vw;
}

ul {
    font-size: 1.9vw;
    color: #a05b67;
    align-self: center;
    margin: auto;
    display:table;
    font-weight: bold;
}

p {
    font-size: 2vw;
    text-align: center;
    color: #a05b67;
}