* {
    boder: 1px solid black;

}

html {
    background-color: linen;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

section {
    margin: 6vw;
}
.health-list {
    font-size: 1.9vw;
    color: #a05b67;
    align-self: center;
    margin: auto;
    display:table;
    font-weight: bold;
    text-align: center;
    list-style-type:none;
    line-height: 2.8vw;
}

p {
    font-size: 2vw;
    text-align: center;
    color: #a05b67;
}

.banner {
    margin: 0;
    padding: 0;
    width: 100%;
}

.spacer {
    height: 3vw;
}

.labcoat {
    width: 45vw
}

.inclosing {
    width: 45vw
}

.closing {
    display: flex;
    gap: 4vw;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.SAB {
    display: block;
    width: 40%;
    height: auto;
}

.part-one {
    display: flex;
    gap: 2vw;
    margin-right: 2vw;
}

.part-two {
    display: flex;
    gap: 2vw;
    margin-left: 2vw;
}

.part-three {
    display: flex;
    gap: 2vw;
    padding: 4vw;
}

.sab-paragraphs {
    margin: 5vw;
    text-align: justify;
    width: 50%;
    height: auto;
    line-height: 2.5vw;
}

em {
    font-weight: bold;
}

.sab-list {
    font-size: 1.9vw;
    color: #a05b67;
    align-self: center;
    margin: auto;
    display:table;
    text-align: center;
    list-style-type:none;
    line-height: 2.5vw;
}

.taught-me{
    text-align: center;
}